# Core functionality - changes here should be rare!
/src/app.py                   @septhiiss
/src/backend/database.py      @septhiiss
/src/backend/routers/auth.py  @septhiiss

# The frontend will need refactored soon to be more object oriented.
/src/static/   @septhiiss
